<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Foliveira</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="jobs" class="nav-link">List Jobs</a>
      </li>
      <li class="nav-item">
        <a routerLink="addJobs" class="nav-link">Add jobs</a>
      </li>
      <li class="nav-item">
        <a routerLink="users" class="nav-link">List Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="addUsers" class="nav-link">Add Users</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
